Game Id: {{id}}

<div>
  <button (click)="start()">Start</button>
  <button (click)="leave()">Leave</button>
</div>

<div id="board">
  <table>
    <tr>
      <td>
        <div class="blackCard" *ngIf="blackCard">
          <div class="cardText">
            {{blackCard.text}}
          </div>
        </div>
      </td>

      <td>
        <div *ngFor="let whiteCard of playedWhiteCards" class="playedWhiteCard"
        (click)="chooseWinner(whiteCard)">
          <div class="cardText" *ngIf="showPlayedCards">
            {{whiteCard.text}}
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<div id="deck">
  <div *ngFor="let whiteCard of whiteCards" class="whiteCard"
    (click)="play(whiteCard)">
      <div class="cardText">
        {{whiteCard.text}}
      </div>
  </div>
</div>
